
.materias {
    padding: 0 !important;
}

.materias .anio{
    background-color: #3a87ad;
    border-radius: 4px;
    color: #EEE;
    font-size: 22px;
}

.materias .cuatri{
    margin-top: 4px;
    background-color: #e5ebee;
    border-radius: 4px;
    color: rgb(27, 27, 27);
    font-size: 15px;
}

.materias .materia{
    margin: 10px 0;
}

.materias .materia .col{
    padding: 0 !important;
}

.materias .materia .col .icon{
    display: inline-block;
}

.materias .materia .nota{
    padding: 0 10px !important;
    margin: 0 2%;
    width: 44%;
    text-align: center;
    color: #EFEFEF;
    display: inline-block;
    overflow: hidden;
}

.materias .materia .verde{
	background-color: rgb(0, 99, 0);
}
.materias .materia .azul{
	background-color: rgb(0, 98, 128);
}
.materias .materia .rojo{
	background-color: #ba4545;
}


.correlativas{
    background-color: #EEE;
    padding: 10px !important;
}

.correlativas .table{
    background-color: #FFF !important;
}

.nota-modal{
	font-size: 20px;
	background-color: #ABC;
	border-radius: 10px;
	color: #FFF;
	padding: 10px 20px;
    margin: 10px 2px;
    display: inline-block;
}

.nota-modal:hover{
    transition: 0.5s;
	background-color: rgb(15, 75, 134);
    color: #FFF;
    text-decoration: none;
}


@media only screen and (max-width: 1410px) {    
}

@media only screen and (max-width: 1199px) { 
}

@media only screen and (max-width: 991px) {	
    .materias .materia{
        padding: 0 5px !important;
    }
    .materias .materia .codigo{
        font-size: 10px !important;
        padding-top: 0.5px !important;
        display: none;
    }
    .materias .materia .col{
        font-size: 13px;
        padding-right: 5px !important;
    }
    .materias .materia .nota{
        padding: 0 3px !important;
        width: 44%;
        font-size: 11px;
    }
    
}

@media only screen and (max-width: 768px) {    
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 360px) {
}

